@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html,body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Space Mono', monospace;
    display:flex;
    flex-direction: column;
    /* justify-content:right; */
    align-items: center;
    background-color:black;
}

header {
    background-color: white;
    align-self:stretch;
    font-weight: 700;
    font-size: 1.2rem;

}

main {
    display: flex;  
    width: 80%;
    background-color: white;
}

.sideimg {
    width: 540px;
}

h1 {
    font-size: 3rem;
}